# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/ # 确保包含 .venv/
.venv_dispatcher_new/ # 确保包含您当前虚拟环境的名称
*.env
.env
.pytest_cache/
.mypy_cache/
.vscode/

# Docker
*.dockerignore
.docker
docker-compose.override.yml # 如果您有本地覆盖文件
*.log
logs/
results/